.layout {
  margin-top: 50px;
  background-color: red;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: var(--green-color);

  .footerHeader {
    color: var(--white-color);
  }
}
