.menu {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--green-color);
  height: 50px;
  width: 100%;

  .menuHeader {
    color: var(--white-color);
  }
}
