.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  gap: 282px;
  padding: 90px;
  box-sizing: border-box;

  @media screen and (width <= 1685px) {
    gap: 100px;
  }

  @media screen and (width <= 1280px) {
    flex-direction: column;
    height: 100%;
    padding: 35px;
    gap: 50px;
  }

  @media screen and (width <= 680px) {
    gap: 20px;
    padding: 24px 15px;
  }

  .img {
    max-width: 729px;

    @media screen and (width <= 1505px) {
      max-width: 500px;
    }

    @media screen and (width <= 680px) {
      max-width: 290px;
    }
  }
}
