@import 'src/shared/vars.scss';

:root {
  --app-font-family: "Open Sans", sans-serif;
}

* {
  font-family: var(--app-font-family);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $appWhite;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}